
<form action="/artist/new" method="POST" role="form">
  <legend>Create an Artist</legend>

  <div class="form-group">
    <label for="">Name</label>
    <input name="name" type="text" class="form-control" id="" placeholder="Input field" autofocus>
    <label for="">genre</label>
    <input name="genre" type="text" class="form-control" id="" placeholder="Input field">
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>